

.slidingAnimation {
    animation: firstItem 20s linear infinite;
    animation-play-state: running;
  }
.slidingAnimation:hover {
    animation-play-state: paused;
  }
  
  @keyframes firstItem {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-33.333333%) }
  }